.topNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
  
.topNavLeft { grid-area: 1 / 1 / 2 / 2; }
.topNavMid { grid-area: 1 / 2 / 2 / 4; }
.topNavRight { grid-area: 1 / 4 / 2 / 5; }


.topNavMid {
  text-align: center;
  color: #fff;
  border: 1px solid var(--mid-blue);
  border-radius: 5px;
}

.topNav h4, .topNav p {
  padding-bottom: 0;
  margin-bottom: 0;
}


  