.tile {
  min-height: 120px;
  text-align: center;
  background-color: var(--dark-grey);
  border-radius: 5px;
}

.content.embedded .tile {
  min-height: 150px;
}

.tile-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--mid-blue)
}

.tile-icon {
  font-size: 40px;
}

.hourlyWrapper {
  color: #fff;
  height: 280px;
  position: relative;
}

.directionMarker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/images/GoldenBeach2.png');
  text-align: center;
  height: 280px;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  border: 4px solid var(--black);
  overflow: hidden;
}

.directionMarker span {
  color: var(--mid-blue);
  line-height: 280px;
  font-size: 28px;
  text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

.container-fluid.hourly {
  margin-top: 15px;
  max-width: calc(100% - 30px)
}

.windSpeed, .rainProb, .hourlyRating, .tideRating {
  position: absolute;
  color: var(--mid-blue);
  z-index: 1;
  top: 5px;
  left: 5px;
  line-height: 1;
  background-color: var(--black);
  padding: 5px;
  border-radius: 5px;
}

.rainProb {
  top: 65px;
}

.hourlyRating {
  top: 125px;
}

.tideRating {
  top: 185px;
  height: 48px;
}

.tideRatingBg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 0 0 5px 5px;

}

.tideRatingIcon {
  z-index: 2;
  position: relative;
  color: white;
}

.windSpeed .speedo, .rainProb .raino, .hourlyRating .rato {
  line-height: 1;
  font-size: 24px;
  color: green;
}

.windSpeed .speedValue, .rainProb .rainProbValue, .hourlyRating .hourlyRatingValue {
  font-size: 12px;
}

.hourlyTime {
  position: absolute;
  top: 5px;
  z-index: 1;
  color: var(--mid-blue);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  padding: 5px;
  border-radius: 5px;;
}